<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    {% block head %}
    <title>ComeToStudyInAmerica{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link href="navbar.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
  <body>
  <div class="container"> <!-- remove this level of div for static feel -->
    {% block navbar %}
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="/">Come to Study in America</a>
        </div>

          <ul class="nav navbar-nav">
              <li class="active"><a href="/">关于我们</a></li>
              <li><a href="/services">服务范围</a></li>
              <li class="dropdown">
                  <a href="/workflow" class="dropdown-toggle" data-toggle="dropdown">服务流程<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">大学申请</a></li>
                      <li><a href="#">研究所申请</a></li>
                      <li><a href="#">访问学者交流</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">相关资料<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/post/1">漂洋过海</a></li>
                      <li><a href="/post/2">出国留学</a></li>
                      <li><a href="/post/3">三十而立</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">生活常识</li>
                      <li><a href="/post/4">民主党共和党</a></li>
                      <li><a href="/post/5">南方北方</a></li>
                  </ul>
              </li>
              <li><a href="/contacts">联系方式</a></li>
          </ul>

          {% block navbar_right %}
              <ul class="nav navbar-nav navbar-right">
                  {% if not session.logged_in %}
                      <li><a href="#">Login or Signup</a></li>
                  {% else %}
                      <li><a href="#">Logout</a></li>
                  {% endif %}
              </ul>
          {% endblock %}
      </div><!--/.nav-collapse -->
    </div>
    {% endblock %}

    <div class="container page">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
        <hr>

        {% block footer %}
        <footer class="footer pull-right">
            <p>&copy; ComeToStudyInAmerica 2014</p>
        </footer>
        {% endblock %}
    </div>
  </div> <!-- /container -->
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>

