{% extends "base.html" %}
{% block title %} - 关于我们{% endblock %}
{% block content %}
{% if not session.logged_in %}
     <p>You are not logged in.</p>
{% else %}
     <p>You are logged in.</p>
{% endif %}
<div>
  <p>
    <span style="color:rgb(68,68,68);background-color:transparent;font-size:16px;line-height:1.5;font-weight:normal">Come to Study in America， Inc 是一家纽约州政府注册,由</span>
    <span style="color:rgb(68,68,68);background-color:transparent;line-height:1.5">哥伦比亚大学教育学专家创办</span>
    <span style="background-color:transparent;line-height:1.5;color:rgb(68,68,68)">的美国本土留学服务中心。本公司本着以教育和信誉为主的原则，提供高质量、高效率、高标准、一对一的优质服务，帮助中国学子圆美国</span>
    <span style="background-color:transparent;line-height:1.5;color:rgb(68,68,68)">留学梦。</span>
  </p>
  <p style="text-align:center">
    <span style="background-color:transparent;line-height:1.5"><font color="#b45f06" face="georgia, serif" size="6"><b><br /></b></font></span>
  </p>
  <p style="text-align:center">
    <span style="background-color:transparent;line-height:1.5"><font color="#b45f06" face="georgia, serif" size="6"><b>海阔凭鱼跃，天高任鸟飞。</b></font></span>
  </p>
  <p style="text-align:center"><span style="background-color:transparent;line-height:1.5;color:rgb(68,68,68)">“诚信为本、服务第一” 是Come to Study in America 不变的宗旨。</span>
  </p>
<div>
{% endblock %}
