{% extends "base.html" %}
{% block title %} - 留学资讯{% endblock %}
{% block content %}
<div>
  <p>一封致学生家长的信--理性留学</p>
  <p>亲爱的家长们：</p>
  <p>你们好！</p>
  <p>作为中国人，我们承传了中国5000年传统美德。勤劳、勇敢、自强不息的精神流淌在每一个人的血液里。在就业竞争日益激烈的21世纪，我们对教育的重视程度有增无减。由于中国的改革开放、经济增长，面对日益放宽的留学签证制度，成千山万的留学大军蜂拥选择出国。在这里，做为一个同样身为人母的教育学人士，我想在你们帮助孩子做人生规划的时候，劝慰你们放慢脚步，选择理性留学。</p>
  <p>勿攀比</p>
  <p>勿包办</p>
  <p>我有接听过很多学生打来的咨询电话，他们都很坦诚地告诉我出国留学不是他们的本意，由于经济上的约束加上不愿辜负父母的期望，他们不得不听从父母的意见选择出国。还有学生表示他们打算申请的学校和专业并不是他们喜欢的，而是家长帮他们做出的选择。可怜天下父母心，我相信你们一定是为了孩子将来的前途着想。但这些外界的因素是否会影响学生出国后的心理、以及降低对所学专业的兴趣呢？我相信答案是肯定的。</p>
  <p>出国留学不同于短期培训。通常本科学习时间在3至5年，硕士1.5至3年，博士通常在4年以上。美国大学是按学分制，并且要求严格。学生如果对所学专业没有兴趣，那么他将很难按期完成学业。</p>
  <p>量力而行</p>
  <p>留学美国需要花很多钱，其中包括高额的学费、房租、生活费等等。例如，美国的书本要比中国的贵得多，普通的一本教课书少之几十，多则几百美金。我的一个学生曾跟我感叹过，她说：“我这学期的书费比我在中国四年本科加一起买的书还要贵！而且还包括参考书！！”</p>
  <p>我们不建议家庭经济条件一般的父母，为了让孩子出国留学而倾家荡产、甚至四处借钱而攻孩子出国，毕竟中国也有很好的大学，请量力而行。</p>
  <p>此致</p>
  <p>李老师</p>
  <p>Come to Study in America, Inc.</p>
<div>
{% endblock %}
