{% extends "base.html" %}
{% block title %} - 留学资讯{% endblock %}
{% block content %}
<div>
  <p>留学美国不再只是梦想</p>
  <p>伴随教育国际化、信息化的发展，美国许多大学面向世界开放，扩招国际留学生，主要原因如下：</p>
  <p>  1. 美国大学提倡国际化教育，希望学生可以在学校接触国际多元文化的学习氛围，吸收多元文化，并开阔国际视野。</p>
  <p>  2. 国际学生大多数是一次性交付学费，而美国大多本地学生需要申请贷款、分期付款或申请政府补助。留学生的扩招，可以有效解决很多大学教育经费短缺的实际问题</p>
  <p>  3. 国际学生，特别是亚洲学生，通常都很勤奋、好学，他们不仅成绩优异，而且会为工程及科学领域做出杰出的贡献，为学校争光，从而提升学校的知名度和排名。</p>
  <p>留学美国不再只是梦想，欢迎越来越多的中国学子可以绕过独木桥，来美留学深造，体验异国文化、广交天下益友、充实人生阅历。无论你日后选择报效祖国还是选择移民海外，这段留学的经历都将为你未来的生活蓝图上添上点睛之笔。</p>
<div>
{% endblock %}
