{% extends "base.html" %}
{% block title %} - 留学资讯{% endblock %}
{% block content %}
<div>
  <p>专业未定并不影响留学申请</p>
  <p>很多学生因为没有确定自己的大学专业而苦恼，其实在美国大部分学生在入学前都不确定自己未来职业的定向。 美国大学不同于中国的大学制度，在中国的大学，一旦入学，就很难更换专业。</p>
  <p>在美国，大学生是可以任何时间自由更换专业，只要完成120个学分的课程，就可以取得学士学位。这120个学分包含专业课所需要的学分和选修课的学分。例如，学生大一所选择的专业课学分，如果在第二年更换专业，那么之前修完的学分就可以算做选修课的学分。这样一来，更换专业并不会拖延取得学位证的时间。只要完成所有的专业必修课程，再按照各大学制度的选修课要求，就可以取得该专业的毕业文凭。美国很多大学都是综合性大学，专业种类齐全，学生有足够的选择空间和时间。学生完全可以一边学习，一边找到自己擅长或感兴趣的专业，依照自己的喜好，理智地来规划自己的未来，而不是一味地听从他人的意见。</p>
<div>
{% endblock %}
