{% extends "base.html" %}
{% block title %} - 服务范围{% endblock %}
{% block content %}
<div>
  <p>Come to Study in America 是一家纽约州政府注册,由哥伦比亚大学教育学专家创办的美国本土留学服务中心。
      本公司本着以教育和信誉为主的原则，提供高质量、高效率、高标准、一对一的优质服务，帮助中国学子圆美国留学梦。
  </p>
  <p style="text-align:center">
    <span style="background-color:transparent;line-height:1.5"><font color="#b45f06" face="georgia, serif" size="6"><b><br /></b></font></span>
  </p>
  <p style="text-align:center">
    <span style="background-color:transparent;line-height:1.5"><font color="#b45f06" face="georgia, serif" size="6"><b>海阔凭鱼跃，天高任鸟飞。</b></font></span>
  </p>
  <p style="text-align:center"><span style="background-color:transparent;line-height:1.5;color:rgb(68,68,68)">“诚信为本、服务第一” 是Come to Study in America 不变的宗旨。</span>
  </p>
<div>
{% endblock %}
