{% extends "base.html" %}
{% block title %} - 服务范围{% endblock %}
{% block content %}
<div>
  <p>美国大学申请</p>
  <p>美国研究生院申请</p>
  <p>来美访问学者申请</p>


  <p>一对一服务</p>
  <p>专家咨询</p>
  <p>留学申请</p>
  <p>签证辅导</p>
  <p>抵美接待</p>
  <p>文化介绍</p>
  <p>心理辅导</p>
  <p>实习就业</p>

    <span style="background-color:transparent;line-height:1.5"><font color="#b45f06" face="georgia, serif" size="6"><b>海阔凭鱼跃，天高任鸟飞。</b></font></span>
  </p>
  <p style="text-align:center"><span style="background-color:transparent;line-height:1.5;color:rgb(68,68,68)">“诚信为本、服务第一” 是Come to Study in America 不变的宗旨。</span>
  </p>
<div>
{% endblock %}
