{% extends "base.html" %}
{% block title %} - 服务流程{% endblock %}
{% block content %}
<div>
  <p>访问学者</p>
  <p>１.　访问学者申请(一对一服务)</p>
  <p>顾问了解申请人学术背景及工作经历</p>
  <p>根据申请个人情况选择申请院校</p>
  <p>收集所选学校的申请要求</p>
  <p>教授发邀请函</p>
  <p>申请人提供推荐信</p>
  <p>收集申请人个人信息</p>
  <p>填写并提交申请表格及所需文书，跟踪申请过程</p>
  <p>接收入学通知及I-20表格</p>
  <p>２.　签证辅导</p>
  <p>签证必备材料</p>
  <p>常见问题讲解,回答技巧分析及注意事项</p>
  <p>３.　抵美接待服务(限美东地区):</p>
  <p>•  接机送宿</p>
  <p>•  陪同到学校报到、注册</p>
  <p>•  陪同开通本地银行和手机卡</p>
  <p>４.　学习与生活</p>
  <p>在美国一年访问期内，访问学者可免费旁听该校开设的各类专业课程，并有机会参加各种校内、外学术交流会议及活动。通过与世界各地不同文化背景的同行交流与互动，访问学者可以在镀金的同时，在这一年里积累丰厚的人生阅历、结实同行挚友，积累宝贵的人脉资源，这些将成为您未来的学术研究和事业发展方面最宝贵的财富。</p>
  <p>特级服务:　在访学期间,我们可以帮助您申请配偶和子女来美陪读和观光。孩子如果在18岁以下，可以在次期间免费就读美国相应年级的公立学校。体验美国校园文化，并全面提高英语听、说、读、写的能力。 </p>
  <p>５.　申请延期</p>
  <p>访问学者可申请一次一年的延期，以便完成访问任务及研究项目.</p>
<div>
{% endblock %}
